header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 120px;
}

header img {
    width: 120px;
    height: auto;
}

header nav {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

header nav a {
    font-size: 22px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

header nav a:hover {
    color: #ff0000;
    font-weight: bold;
    
}